/* ------ Header Section ------- */


.jumbotron {
    background-color: transparent;
}

.nav-item{
  color: #264653;
}

.navbar{
  width: 100%;
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
}

a.nav-link:hover{
  color: #264653;
  font-weight: bold;
}

.container_head, .intro {
  height: 100vh;
  width: 100vw;
}

.container_head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro{
  background-image: "..static/css/images/trees.jpg";
  background-size: cover;
}

.hometitle {
  font-size: 6rem;
  font-family: 'Rock Salt', cursive;
  color: #264653;
}

.hometitle p {
  font-size: 1.9rem;
}

.centre{
  text-align: center;
}

.jumbotron_head {
  position: relative;
  top: -60px;
  margin: 0 150px;
}
