/* ------ Header Section ------- */
/* --- Reset Styles --- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: verdana, sans-serif;
}

/* --- Navigation Styles */
.jumbotron {
    background-color: transparent;
}

.nav-item{
  color: #264653;
}

.navigation {
  width: 100%;
  padding-bottom: 0;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navigation li {
  list-style: none;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 25px;
}

.navigation li a {
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
  color: #264653;
  padding: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.navigation a:hover {
  color: #e8811f;
  border-bottom: 3px solid #ef7f15;
  cursor: pointer;
}

/* --- Main Area Styles --- */
.intro {
  background-image: url('../../images/trees.png');
  background-size: cover;
  padding: 0;
}

.container{
  height: 55rem;
  width: 100%;
}

.further_about {
  margin-top: -40px;
  font-size: 6rem;
  color: #264653;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 45px;
  text-align: left;
}

.find_out {
  font-size: 2.2rem;
  color: #264653;
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 45px;
  text-align: left;
}

.arrow {
  width: 30px;
  height: 30px;
  border-top: 6px solid #264653;
  border-left: 6px solid #264653;
  transform: rotate(225deg);
  margin: 60px auto 20px auto;
}

 /*main page*/
#main_info{
  background-color: #FFF8F0;
  height: 120rem;
  width: 100%;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #264653;
  border-style: solid none;
  border-width: 2px 0;
  margin-left: 40px;
  margin-right: 40px;
}

h2{
  font-size: 2.2rem;
  color: #264653;
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 45px;
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

h3{
  font-size: 1.8rem;
  color: #264653;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-weight: bold;
}

.row{
  align-items: center;
  margin: 0;
}

.row p{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #264653;
}

.resources{
    height: 50px;
    weight: auto;
    border-style: none;
}

.img-thumbnail {
    padding: 0;
}

 div.gallery {
  margin: 5px;
  border: 1px solid #;
  float: left;
  width: 180px;
  margin-left: 90px;
  margin-right: 90px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.desc {
  font-family: 'Gloria Hallelujah', cursive;
  color: #264653;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

/*footer*/

footer {
  height: 150px;
  background-color: #264653;
  margin-bottom: 0;
  padding-bottom: 0;
}

div.links {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

footer h2 {
  color: white;
  font-size: 2.2rem;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  padding-top: 30px;
  margin-top: 0;
}

footer a {
 padding: 0 15px;
 font-size: 1.1rem;
 letter-spacing: 1px;
}
