<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Destination ? About </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta name="description" content="Get Anywhere from Anywhere">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css "href="../static/css/override_css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/d_question.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  </head>

<body>

 <div class="full-page-container">

    <!--Navigation bar-->
  <header class="intro">

    <div class="navigation">
      <ul>
          <li class="home">
            <a href="/" role="button">Home</a>
          </li>
          <li class="about-us">
            <a href="/about" role="button">About Us</a>
          </li>
          <li class="further">
            <a href="/further" role="button">Further Resources</a>
          </li>
          <li class="get-in-touch">
            <a href="/contact" role="button">Get In Touch</a>
        </li>
      </ul>
    </div>
</header>

    <!--Heading-->
    <div>
      <h1 id="about-title">Meet the Team</h1>
    </div>

    <!--Bios and Pictures-->
    <div class="container_about team_block animatedParent" data-sequence="500">
      <div id="meettheteam" class="row centre">

          <div class="bios">
            <div class="team_container alice animated flipInY delay-1000" data-id="1">
            <p class="info aliceinfo"><strong>Alice</strong></p>
              <img class="image">
                <div class="overlay">
                <div class="text">Chinese food addict.</div>
                </div>
              </div>
            <div class="team_container rochelle animated flipInY delay-1000" data-id="2">
              <p class="info rochelleinfo"><strong>Rochelle</strong></p>
              <img class="image">
                <div class="overlay">
                <div class="text">Pie making enthusiast. </div>
                </div>
              </div>
            <div class="team_container karolina animated flipInY delay-1000" data-id="3">
              <p class="info karolinainfo"><strong>Karolina</strong></p>
              <img class="image">
                <div class="overlay">
                <div class="text">Languages and tech lover.</div>
              </div>
            </div>
            <div class="team_container siobhan animated flipInY delay-1000" data-id="4">
              <p class="info siobhaninfo"><strong>Siobhan</strong></p>
              <img class="image">
                <div class="overlay">
                <div class="text">Baker by name. Baker by nature.</div>
              </div>
            </div>
          </div>

     </div>
 </div>

    <footer>
      <h2>Find us on social media:</h2>
      <div class="links">
        <a href=#>
          <img alt="follow me on twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter40x40.png" border=0></a>
        <a href=#>
          <img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=0></a>
        <a href=#>
          <img alt="follow me on pinterest" src="https://c866088.ssl.cf3.rackcdn.com/assets/pinterest40x40.png" border=0></a>
      </div>
    </footer>

  </body>

</html>
