<!DOCTYPE html>
<html lang="en">

<head>
  <title>Destination ? Further Resources</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <meta name="description" content="Get Anywhere from Anywhere">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css "href="../static/css/override_css/further.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/d_question.png" />
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>

  <div class="full-page-container">
      <!--Nav Bar-->
    <header class="intro">

      <div class="navigation">
        <ul>
            <li class="home">
              <a href="/" role="button">Home</a>
            </li>
            <li class="about-us">
              <a href="/about" role="button">About Us</a>
            </li>
            <li class="further">
              <a href="/further" role="button">Further Resources</a>
            </li>
            <li class="get-in-touch">
              <a href="/contact" role="button">Get In Touch</a>
          </li>
        </ul>
      </div>

      <!--main body-->
    <div class="container">
      <h2 class="further_about"> Further resources for your trip</h2>
      <p class="find_out">We know how important it is to feel you get the most out of your trip. <br>That's why we've put together this list to help you prepare! <br>Let us know on the contact page what you think.</p>
      <div class="arrow"></div>
    </div>

    <div id="main_info" class="container">
      <hr>
        <h2>On a budget?</h2>
        <div class="row">
          <div class="col-md-4">
            <img class="img-thumbnail resources" src="../static/images/backpacker.png" alt="Backpacker Logo">
              <h3>The Broke Backpacker</h3>
              <p>Tips and Hints from the man who has done it all himself.</p>
              <p><a class="btn link" href="https://www.thebrokebackpacker.com/" role="button">Go to website &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <img class="img-thumbnail resources" src="../static/images/hostelworld.jpg" alt="Hostelworld Logo">
              <h3>Hostelworld</h3>
              <p>Book dormrooms and homestays almost anywhere<br>in the world.</p>
              <p><a class="btn link" href="https://www.hostelworld.com/" role="button">Go to website &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <img class="img-thumbnail resources" src="../static/images/nomads.png" alt="Nomad Logo">
              <h3>Legal Nomads Travel Resources</h3>
              <p>A guide to packing, budgeting and eating safely.</p>
              <p><a class="btn link" href="https://www.legalnomads.com/travel-resources/" role="button">Go to website &raquo;</a></p>
          </div>
        </div>
      <hr>
        <h2>Need to rent a car?</h2>
        <div class="row">
          <div class="col-md-4">
            <img class="img-thumbnail resources" src="../static/images/zipcar.png" alt="Zipcar Logo">
              <h3>Zipcar (UK)</h3>
              <p>Book through their app with far more flexibility and<br>less bureaucracy than any competitor.</p>
              <p><a class="btn link" href="https://www.zipcar.co.uk/" role="button">Go to website &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <img class="img-thumbnail resources" src="../static/images/autoeurope.png" alt="Auto Europe Logo">
              <h3>Auto Europe</h3>
              <p>Compare prices across a range of hire companies to pick up<br>anywhere in Europe.</p>
              <p><a class="btn link" href="https://www.autoeurope.co.uk/" role="button">Go to website &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <img class="img-thumbnail resources" src="../static/images/expedia.png" alt="Expedia Logo">
              <h3>Expedia</h3>
              <p>Huge range of vehicles to choose from<br>with no cancellation fees.</p>
              <p><a class="btn link" href="https://www.expedia.com/" role="button">Go to website &raquo;</a></p>
          </div>
        </div>
      <hr>
        <h2>Don't speak the local language?</h2>
        <div class="row">
          <div class="col-md-4">
            <img class="img-thumbnail resources" src="../static/images/google.png" alt="Google Translate Logo">
              <h3>Google Translate App</h3>
              <p>Speak into your phone and Google will translate it back to you!</p>
              <p><a class="btn link" href="https://translate.google.com/" role="button">Go to website &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <img class="img-thumbnail resources" src="../static/images/lonelyplanet.jpg" alt="Lonely Planet Logo">
              <h3>Lonely Planet</h3>
              <p>These Guidebooks and Phrasebooks will not only help your planning, but also provide you with phrases to use if and when you get lost.</p>
              <p><a class="btn link" href="https://www.lonelyplanet.com/" role="button">Go to website &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <img class="img-thumbnail resources" src="../static/images/duolingo.png" alt="Duolingo image">
              <h3>Duolingo</h3>
              <p>Duolingo is a language learning platform with numerous languages to choose from. Test yourself on new words in preparation for your trip!</p>
              <p><a class="btn link" href="https://www.duolingo.com/" role="button">Sign-up here &raquo;</a></p>
          </div>
        </div>
      <hr>
        <h2>Love train journeys?</h2>
        <div class="row">
          <div class="col-md-6">
            <img class="img-thumbnail resources" src="../static/images/seat61.jpg" alt="Seat 61 Logo">
              <h3>The Man in Seat 61</h3>
              <p>The ultimate guide to train routes and booking tickets across the world.</p>
              <p><a class="btn link" href="https://www.seat61.com/" role="button">Go to website &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <img class="img-thumbnail resources" src="../static/images/interrail.png" alt="Interrail Logo">
              <h3>Interrail Pass</h3>
              <p>Buy a single ticket and travel all the way across Europe!</p>
              <p><a class="btn link" href="https://www.interrail.eu/en" role="button">Go to website &raquo;</a></p>
          </div>
        </div>
    </div>

    </header>


      <!--The end of body-->

    <footer>
      <h2>Find us on social media:</h2>
      <div class="links">
        <a href=#><img alt="follow me on twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter40x40.png" border=0></a>
        <a href=#><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=0></a>
        <a href=#><img alt="follow me on pinterest" src="https://c866088.ssl.cf3.rackcdn.com/assets/pinterest40x40.png" border=0></a>
      </div>
    </footer>

    </div>

  </body>

</html>
