<!DOCTYPE html>
<html lang="en">

<head>
  <title>Destination ? Further Resources</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <meta name="description" content="Get Anywhere from Anywhere">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css "href="../static/css/override_css/further.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/d_question.png" />
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>

  <div class="full-page-container">
      <!--Nav Bar-->
    <header class="intro">

      <div class="navigation">
        <ul>
            <li class="home">
              <a href="/" role="button">Home</a>
            </li>
            <li class="about-us">
              <a href="/about" role="button">About Us</a>
            </li>
            <li class="further">
              <a href="/further" role="button">Further Resources</a>
            </li>
            <li class="get-in-touch">
              <a href="/contact" role="button">Get In Touch</a>
          </li>
        </ul>
      </div>

      <!--main body-->
    <div class="container">
      <h2 class="further_about"> Further resources for your trip</h2>
      <p class="find_out">We know how important it is to feel you get the most out of your trip. <br>That's why we've put together this list to help you prepare! <br>Let us know on the contact page what you think.</p>
    </div>

    <div id="main_info">
      <div class="res">
        <div class="gallery">
          <a target="_blank" href="https://bit.ly/2THWTN1">
            <img src="../static/images/hotel.jpg" alt="Hotel" width="600" height="400">
          </a>
          <div class="desc">Here you find the best hotel deals!</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://bit.ly/2FDe2Te">
            <img src="../static/images/car.jpg" alt="Car" width="600" height="400">
          </a>
          <div class="desc">Here you find the best hotel deals!</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://bit.ly/2zZCAVt">
            <img src="../static/images/back.jpg" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">Traveling the world on the budget? That's a place for you!</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://bit.ly/2OCgYTT">
            <img src="../static/images/food.jpg" alt="Eat" width="600" height="400">
          </a>
          <div class="desc">Plan, budget and eat safely</div>
        </div>
      </div>

    </div>

    </header>


      <!--The end of body-->

    <footer>
      <h2>Find us on social media:</h2>
      <div class="links">
        <a href=#><img alt="follow me on twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter40x40.png" border=0></a>
        <a href=#><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=0></a>
        <a href=#><img alt="follow me on pinterest" src="https://c866088.ssl.cf3.rackcdn.com/assets/pinterest40x40.png" border=0></a>
      </div>
    </footer>

    </div>

  </body>

</html>
